.upload-pic{
width: 125px;
position: relative;
margin: auto;
}

.upload-pic img{
border-radius: 50%;
border: 8px solid #DCDCDC;
}

.upload-pic .round{
position: absolute;
bottom: 0;
right: 0;
background: #00B4FF;
width: 32px;
height: 32px;
line-height: 33px;
text-align: center;
border-radius: 50%;
overflow: hidden;
}

.upload-pic .round input[type = "file"]{
position: absolute;
transform: scale(2);
opacity: 0;
}

input[type=file]::-webkit-file-upload-button{
    cursor: pointer;
}
